body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  align-items: stretch;
  padding: 2rem;
  min-height: calc(100vh - 3rem);
  background-color: #14182e;
  gap: 10rem;
  box-sizing: border-box;
}

.logo {
  width: 40rem;
  flex-shrink: 0;
}

.logo img {
  width: 100%;
  height: auto;
}

.colunaDireita {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #0b0b99;
  border-radius: 2rem;
}

.titulo {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  display: flex;
  color: #ebe8d2;
}

.texto {
  font-size: 1.25rem;
  color: #b3a8a8;
  max-width: 600px;
  text-align: center;
}

.produtos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  margin-top: 3rem;
  background-color: #0b0b99;
  border-radius: 2rem;
  height: 100%;
}

.produtos .titulo {
  justify-content: center;
}

.lista {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
  height: 100%;
  color: #ebe8d2;
  font-size: 1.25rem;
  list-style: none;
  padding: 0;
}
